h1{ 
    font-size: 60px;
    font-family:'Press Start 2P', cursive;
    text-align: center;
	color: red;
}

p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
  font-family: roboto;
}